BACKEND_URL=http://127.0.0.1:5000
NEXT_PUBLIC_API_URL=http://127.0.0.1:5000/api
NEXT_PUBLIC_WS_URL=ws://127.0.0.1:5000
DATABASE_URL=postgresql://username:password@127.0.0.1:26257/xiaohuangyu?sslmode=disable
NODE_ENV=production
